# Provenance: modeled-from-docs (2026-07-17). HyperPay does not publish a
# downloadable OpenAPI/Swagger document. This specification was modeled from
# the documented HyperPay REST API (ACI / OPPWA "Open Payment Platform"
# powering the COPYandPAY widget and Server-to-Server integration) at
# https://hyperpay.docs.oppwa.com and the live test host https://test.oppwa.com.
# Hosts, the entityId + Authorization: Bearer auth pattern, the
# application/x-www-form-urlencoded content type, and the /v1/checkouts,
# /v1/payments, /v1/registrations and /v1/query resource paths are all
# documented and were live-probed (HTTP 200) on 2026-07-17. Field-level
# schemas are representative of the documented request/response parameters.
openapi: 3.0.1
info:
  title: HyperPay Payment API
  description: >-
    HyperPay is a MENA / Saudi Arabia payment gateway built on the ACI / OPPWA
    Open Payment Platform. This REST API powers the COPYandPAY hosted widget and
    the Server-to-Server integration, supporting card brands (VISA, MASTER,
    AMEX), the Saudi domestic scheme mada, STC Pay, and Apple Pay. All requests
    are sent as application/x-www-form-urlencoded over TLS, authenticated with an
    `entityId` (channel identifier) plus an `Authorization: Bearer` access token.
    Amounts are decimal strings and currency is an ISO 4217 code (SAR for Saudi
    merchants).
  termsOfService: https://www.hyperpay.com/terms-and-conditions/
  contact:
    name: HyperPay Support
    url: https://www.hyperpay.com/contact-us/
    email: info@hyperpay.com
  version: '1.0'
servers:
  - url: https://eu-prod.oppwa.com
    description: Production (live) host
  - url: https://test.oppwa.com
    description: Integration / test host
tags:
  - name: COPYandPAY
    description: Hosted widget checkout preparation and result.
  - name: Payments
    description: Server-to-Server payments and back-office operations.
  - name: Registrations
    description: Tokenization of payment instruments for one-click and recurring.
  - name: Query
    description: Query the status of a prior payment.
paths:
  /v1/checkouts:
    post:
      operationId: createCheckout
      tags:
        - COPYandPAY
      summary: Prepare a checkout
      description: >-
        Creates a checkout and returns a checkout `id` used to initialize the
        COPYandPAY JavaScript widget in the shopper's browser. Send entityId,
        amount, currency and paymentType (e.g. DB for debit, PA for
        pre-authorization).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout prepared.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
  /v1/checkouts/{id}/payment:
    get:
      operationId: getCheckoutStatus
      tags:
        - COPYandPAY
      summary: Get payment status of a checkout
      description: >-
        Retrieves the result of a checkout after the shopper submits the
        COPYandPAY widget. Pass the entityId as a query parameter and the
        Bearer token in the Authorization header.
      parameters:
        - name: id
          in: path
          required: true
          description: The checkout id returned by POST /v1/checkouts.
          schema:
            type: string
        - name: entityId
          in: query
          required: true
          description: The channel (entity) identifier.
          schema:
            type: string
      responses:
        '200':
          description: Payment result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/payments:
    post:
      operationId: createPayment
      tags:
        - Payments
      summary: Server-to-Server payment
      description: >-
        Submits a payment directly server-to-server (requires PCI-DSS scope to
        handle raw card data). paymentType PA performs a pre-authorization and
        DB performs a debit. Supports mada, STC_PAY and APPLEPAY brands in
        addition to VISA / MASTER / AMEX.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/payments/{id}:
    post:
      operationId: managePayment
      tags:
        - Payments
      summary: Back-office operation on a prior payment
      description: >-
        References an existing payment by id to perform a capture (paymentType
        CP), refund (RF), or reversal/void (RV).
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the referenced payment.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BackofficeRequest'
      responses:
        '200':
          description: Operation processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/registrations:
    post:
      operationId: createRegistration
      tags:
        - Registrations
      summary: Register (tokenize) a payment instrument
      description: >-
        Stores a payment instrument and returns a registration token id that can
        be used for one-click or recurring payments without re-collecting card
        data.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registration created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/registrations/{id}:
    get:
      operationId: getRegistration
      tags:
        - Registrations
      summary: Retrieve a registration token
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Registration details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
    delete:
      operationId: deleteRegistration
      tags:
        - Registrations
      summary: Delete a registration token
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Registration deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/registrations/{id}/payments:
    post:
      operationId: createRegistrationPayment
      tags:
        - Registrations
      summary: Pay with a stored registration token
      description: >-
        Executes a one-click or recurring payment against a previously stored
        registration token id.
      parameters:
        - name: id
          in: path
          required: true
          description: The registration token id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /v1/query/{id}:
    get:
      operationId: queryPayment
      tags:
        - Query
      summary: Query a payment status
      description: >-
        Retrieves the status of a payment by its id (or by the resourcePath
        returned in a redirect/webhook notification).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: accessToken
      description: >-
        Access token issued by HyperPay, sent as `Authorization: Bearer
        <token>`. Every request must ALSO carry an `entityId` channel identifier
        (as a form field on writes or a query parameter on reads).
  schemas:
    CheckoutRequest:
      type: object
      required:
        - entityId
        - amount
        - currency
        - paymentType
      properties:
        entityId:
          type: string
          description: Channel (entity) identifier.
        amount:
          type: string
          example: '92.00'
          description: Decimal amount as a string with two decimals.
        currency:
          type: string
          example: SAR
          description: ISO 4217 currency code.
        paymentType:
          type: string
          enum: [DB, PA]
          description: DB = debit, PA = pre-authorization.
        merchantTransactionId:
          type: string
    CheckoutResponse:
      type: object
      properties:
        id:
          type: string
          description: The checkout id used to load the COPYandPAY widget.
        result:
          $ref: '#/components/schemas/Result'
        buildNumber:
          type: string
        timestamp:
          type: string
        ndc:
          type: string
    PaymentRequest:
      type: object
      required:
        - entityId
        - amount
        - currency
        - paymentBrand
        - paymentType
      properties:
        entityId:
          type: string
        amount:
          type: string
          example: '92.00'
        currency:
          type: string
          example: SAR
        paymentBrand:
          type: string
          example: MADA
          description: e.g. VISA, MASTER, AMEX, MADA, STC_PAY, APPLEPAY.
        paymentType:
          type: string
          enum: [DB, PA]
        card.number:
          type: string
        card.holder:
          type: string
        card.expiryMonth:
          type: string
        card.expiryYear:
          type: string
        card.cvv:
          type: string
    BackofficeRequest:
      type: object
      required:
        - entityId
        - paymentType
      properties:
        entityId:
          type: string
        amount:
          type: string
        currency:
          type: string
          example: SAR
        paymentType:
          type: string
          enum: [CP, RF, RV]
          description: CP = capture, RF = refund, RV = reversal/void.
    RegistrationRequest:
      type: object
      required:
        - entityId
        - paymentBrand
      properties:
        entityId:
          type: string
        paymentBrand:
          type: string
          example: VISA
        card.number:
          type: string
        card.holder:
          type: string
        card.expiryMonth:
          type: string
        card.expiryYear:
          type: string
        card.cvv:
          type: string
    PaymentResponse:
      type: object
      properties:
        id:
          type: string
        paymentType:
          type: string
        paymentBrand:
          type: string
        amount:
          type: string
        currency:
          type: string
        result:
          $ref: '#/components/schemas/Result'
        card:
          type: object
          properties:
            bin:
              type: string
            last4Digits:
              type: string
            holder:
              type: string
            expiryMonth:
              type: string
            expiryYear:
              type: string
        registrationId:
          type: string
        merchantTransactionId:
          type: string
        timestamp:
          type: string
        ndc:
          type: string
    Result:
      type: object
      properties:
        code:
          type: string
          description: Result code, e.g. 000.000.000 (success) / 000.100.110 (test success).
          example: '000.100.110'
        description:
          type: string
          example: Request successfully processed in 'Merchant in Integrator Test Mode'
security:
  - bearerAuth: []
